#nav {
    max-width: 100vw;
    font-family: var(--main-font);
    margin: 1.2em auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav ul {
    padding: 0;
    margin: 0 auto;
}
#nav li {
    padding: 0;
    margin: 0 1.2em;
    display: inline-block;
}
#nav li a {
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
#nav li a:hover {
    color: var(--blue);
    transition: all .5s ease;
}
/* #nav li a:after {
	content: '';
	display: block;
	margin: auto;
	height: .0625em;
	width: 0em;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
#nav li a:hover:after {
	width: 100%;
	background: var(--blue);
} */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #nav {
        font-size: .9em;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) { 
    #nav {
        margin: .75em auto;
    }
    #nav li{
        margin: 1em;
        display: block;
        text-align: center;
    }
}

