/* MAIN CONTAINER */
.showcase {
    max-width: 74em;
    min-width: 20em;
    margin: 5em auto;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}

/* INFO BLOCK */
.info_block {
    max-width: 22em;
    height: max-content;
    margin: 1.75em;
    position: sticky;
    top: 5em;
}
.info_block .links {
    margin-top: 3em;
}
.info_block .links a{
    color: var(--blue);
    text-decoration: none;
}
.info_block .links a:hover{
    color: var(--light-red);
}

/* IMAGE BLOCK */
.image_block {
    max-width: 40em;
    height: max-content;
    margin: 1.25em;
    display: flex;
    flex-direction: column;
}
.image_block img {
    max-width: 100%;
    height: auto;
    margin: 1.2em auto;
}
.info_block .title_piece {
    font-weight: 600;
    margin-bottom: .3em;
    font-size: 1.5em;
}
.info_block .tech {
    height: max-content; 
    margin-bottom: 2em;
    font-size: .9em;
}
.info_block .description {
    font-family: var(--main-font);
    font-size: .9em;
    font-weight: 300;
    line-height: 1.6em;
    letter-spacing: .08em;
    padding-right: 1em;
    padding-bottom: .6em;
}
