#titlewrap {
    background-color: var(--light-grey);
    font-family: var(--primary-font);
    width: 100vw;
    height: max-content;
    margin-top: 0 -9999rem;
    background-repeat: repeat-x;
}
#titlewrap #titlebar {
    max-width: 74em;
    min-width: 20em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#titlewrap #titlebar #logo img{
    height: 2em;
    margin: 1.25em;
}
#titlewrap #titlebar #title {
    width: max-content;
    height: max-content;
    color: var(--med-grey);
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 1.5em;
}
#titlewrap #titlebar #icons {
    width: max-content;
    height: max-content;
    margin: 0 1em;
}
#titlewrap #titlebar #icons i {
    font-size: 1.2em;
    margin: .3em;
}
#titlewrap #titlebar #icons ul {
    padding: 0;
}
#titlewrap #titlebar #icons li{
    padding: 0;
    display: inline-block;
}
#titlewrap #titlebar #icons li a {
    color: var(--med-grey);
    border: none;
    text-decoration: none;
}
#titlewrap #titlebar #icons li a:hover {
    color: var(--light-red);
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    #titlewrap #titlebar {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}

